<h1>Places I've Been</h1>

<p> 
<a href="/mexico_city">Mexico City</a>
</p>

<p>
<a href="/charleston">Charleston</a>
</p>

<p>
<a href="/beijing">Beijing</a>
</p>

<p>
<a href="/amsterdam">Amsterdam</a>
</p>

<p>
</p>

<p>
<a href="/new place">New Place</a>
</p>

